<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "map" "args" .Params) }}
    {{ errorf "Invalid arguments: %s" .Position -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->

{{- $id := printf "leaflet-map-%d" .Ordinal -}}
{{ with .Get "id" }}
    {{ $id = . }}
{{ end }}

{{ $class := .Get "class" | default "ratio ratio-16x9 w-100 mx-auto" }}

{{ $error := false }}
{{ $viewLat := 52.377 }}
{{ $viewLong := 4.90 }}
{{ $zoom := 13 }}
{{ $popup := "" }}
{{ $popupLat := ""  }}
{{ $popupLong := "" }}

{{- with .Get "lat" }}{{ $viewLat = . }}{{ end -}}
{{- with .Get "long" }}{{ $viewLong = . }}{{ end -}}
{{- with .Get "zoom" }}{{ $zoom = . }}{{ end -}}
{{- with .Get "popup" }}{{ $popup = . }}{{ end -}}
{{- with .Get "popup-lat" }}{{ $popupLat = . }}{{ end -}}
{{- with .Get "popup-long" }}{{ $popupLong = . }}{{ end -}}

<!-- Main code -->
{{- if not $error -}}
    <div id="{{ $id }}" class="leaflet-map {{ $class }}"
        {{ with $viewLat }}data-leaflet-view-lat="{{ . }}"{{ end }}
        {{ with $viewLong }}data-leaflet-view-long="{{ . }}"{{ end }}
        {{ with $zoom }}data-leaflet-view-zoom="{{ . }}"{{ end }}
        {{ with $popup }}data-leaflet-popup-caption="{{ . }}"{{ end }}
        {{ with $popupLat }}data-leaflet-popup-lat="{{ . }}"{{ end }}
        {{ with $popupLong }}data-leaflet-popup-long="{{ . }}"{{ end }}>
    </div>
{{- end -}}