{{/* 
    Copyright © 2024 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Validate and initialize arguments */}}
{{ $result := partial "utilities/Args.html" (dict "structure" "map" "args" .Params "named" .IsNamedParams "group" "shortcode" "strict" false) }}
{{ $args := $result.args }}
{{ if or $result.err $result.warnmsg }}
    {{ partial (cond $result.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict
        "partial"  "shortcodes/map.html"
        "warnid"   "warn-invalid-arguments"
        "msg"      "Invalid arguments"
        "details"  ($result.errmsg | append $result.warnmsg)
        "file"     page.File
        "position" .Position
    )}}
    {{ $error = $result.err }}
{{ end }}

{{/* Initialize local arguments */}}
{{- $id := $args.id | default (printf "leaflet-map-%d" .Ordinal) -}}

{{/* Main code */}}
{{- if not $error -}}
    {{/* The gesture hints are rendered here so they stay translatable. The modifier is left as
         a placeholder for the script, which resolves it to the visitor's platform. */}}
    <div id="{{ $id }}" class="leaflet-map {{ $args.class }}"
        data-leaflet-hint-zoom="{{ T "mapZoomHint" "{modifier}" }}"
        data-leaflet-hint-drag="{{ T "mapDragHint" }}"
        {{ with $args.lat }}data-leaflet-view-lat="{{ . }}"{{ end }}
        {{ with $args.long }}data-leaflet-view-long="{{ . }}"{{ end }}
        {{ with $args.zoom }}data-leaflet-view-zoom="{{ . }}"{{ end }}
        {{ with $args.popup }}data-leaflet-popup-caption="{{ . }}"{{ end }}
        {{ with $args.popupLat }}data-leaflet-popup-lat="{{ . }}"{{ end }}
        {{ with $args.popupLong }}data-leaflet-popup-long="{{ . }}"{{ end }}>
    </div>
{{- end -}}